<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <title>Spring Security Example</title>
    <link href="../static/css/bulma.css" th:href="@{/static/css/bulma.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<h1>Welcome!</h1>
<h1 th:text="${username}"></h1>

<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <a href="/dish/add">add dish</a>
</div>

<div sec:authorize="not isAuthenticated()">
    <form th:action="@{/login}" method="get">
        <input type="submit" value="Sign in"/>
    </form>
</div>

<div th:text="${message}"></div>

<div th:each="dish : ${dishes}">

    <div th:insert="dish_card.html"></div>
    <div th:insert="dish_actions.html"></div>

</div>


<!--<div sec:authorize="hasAuthority('USER')">Text visible to user.</div>-->
<!--<div sec:authorize="hasAuthority('ADMIN')">Text visible to admin.</div>-->
<!--<div sec:authorize="isAuthenticated()">-->
<!--    Text visible only to authenticated users.-->
<!--</div>-->
Authenticated username:
<div sec:authentication="name"></div>
Authenticated user roles:
<div sec:authentication="principal.authorities"></div>

</body>
</html>