<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="loginContainer">

    <div th:insert="errors_message"></div>

    <h1 class="title is-1">
        Registration
    </h1>

    <form action="/registration" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <div>
            <div class="control field">
                <label class="label">
                    <div class="message is-danger">
                        <div th:if="${usernameError}">
                            <div class="message-header" th:text="Error"></div>
                            <div class="message-body" th:text="${usernameError}"></div>
                        </div>
                    </div>
                    <input class="input" name="username" type="text"
                           placeholder="5-30 characters">
                </label>
            </div>
            <div class="control field">
                <label class="label">
                    <input class="input" name="password" type="password"
                           placeholder="Password input">
                </label>
            </div>
            <div class="control field">
                <label class="label">
                    <input class="input" name="passwordConfirm" type="password"
                           placeholder="Password input">
                </label>
            </div>
            <div class="control field">
                <label class="label">
                    <input class="input" name="email" type="text"
                           placeholder="ivan.inanov@gmail.com">
                </label>
            </div>
            <div class="control field">
                <label class="label">
                    <input class="input" name="phoneNumber" type="text"
                           placeholder="+375291234567">
                </label>
            </div>
            <div class="control field">
                <label class="label">
                    <input class="input" name="address" type="text"
                           placeholder="Address input">
                </label>
            </div>

            <div class="control field marginTop">
                <input class="button is-light secondary" type="submit" value="register">
            </div>
        </div>
    </form>
</div>
</body>
</html>